:root {
    --clr-bg: #141D26;
    --clr-secondary: #0a0e13;
}

* {
    color: white;
}

@font-face {
    font-family: 'Futura Book';
    src: url('font/futura/Futura\ Book\ font.ttf');
}

@font-face {
    font-family: 'Futura Extra Black';
    src: url('font/futura/Futura\ XBlk\ BT.ttf') format('truetype');
}

body {
    padding: 0;
    margin: 0;
}

#main {
    text-align: center;
    background-color: var(--clr-bg);
}

#title {
    font-family: 'Futura Extra Black';
}

#title h1 {
    font-size: 3em;
    margin-bottom: 5px;
}

#img-div{
    padding: 5vh 0;
    background-color: var(--clr-secondary);
    width: 100%;
    margin: 0;
    font-family: 'Futura Book';
}

#image {
    max-width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#img-caption {
    margin-top: 2vh;
    font-size: 1.2em;
}

#tribute-info {
    font-family: 'Futura Book';
}

#tribute-info ul {
    text-align: left;
    margin: 0 auto 50px auto;
    max-width: 550px;
    line-height: 1.6;
}

#tribute-info li {
    margin: 16px 0;
    font-size: 1.5em;
}

time {
    font-weight: bold;
}

#quote {
    padding: 5vh 0;
    background-color: var(--clr-secondary);
    width: 100%;
    margin: 0;
    font-family: 'Futura Book';
}

blockquote p {
    font-size: 1.5em;
}

footer {
    font-family: 'Futura Extra Black';
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

@media (max-width: 480px) {
    footer h2 {
        font-size: 1.1em;
    }
}

@media (min-width: 768px) {
    #quote {
        padding: 5vh 30vw;
        width: inherit;
    }
}